:root {
    --white: #ffffff;
    --light-white: #f0f2f5;
    --blue: #2d88ff;
    --border: #dad8d8;
    --black: #050505;
    --light-grey: #65676b;
    --black-text: #262626;
}
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--light-white);
}
body::-webkit-scrollbar {
    display: none;
}

/* COMMON */
a {
    text-decoration: none;
    display: inline-block;
}
label {
    cursor: pointer;
}
img {
    display: block;
}
.text-center {
    text-align: center;
}
.copy-text {
    color: #c5c5c5;
}
.mb-8 {
    margin-bottom: 8px;
}
.mr-10 {
    margin-right: 10px;
}
.no-link {
    text-decoration: none;
}
.black-text {
    color: var(--black-text);
}
.grey-text {
    color: var(--light-grey);
}
.blue-text {
    color: var(--blue);
}
.small-text {
    font-size: 12px;
}
.medium-text {
    font-size: 14px;
}
.large-text {
    font-size: 16px;
}
.bold-text {
    font-weight: 500;
}
.no-btn {
    border: none;
    background-color: var(--light-white);
}
.no-btn:focus {
    border: none;
    outline: none;
}
.alert {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 15px;
    align-self: flex-start;
}

.error-dailog {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.success-dailog {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.profile-pic {
    border-radius: 50%;
    object-fit: cover;
}
.small {
    width: 22px;
    height: 22px;
}
.medium {
    width: 40px;
    height: 40px;
}
.large {
    width: 50px;
    height: 50px;
}
.extra-large {
    width: 150px;
    height: 150px;
}
/* Post Item */
.post {
    width: 100%;
    border-radius: 4px;
    /* -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68); */
    margin: 20px 0;
    border: 1px solid var(--border);
    box-sizing: border-box;
    background: var(--white);
}

.post-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    border-bottom: 1px solid var(--border);
}
.post-top-left {
    display: flex;
    align-items: center;
}
.post-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.post-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 8px;
}
.post-author {
    color: var(--black);
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.post-time {
    color: var(--light-grey);
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
}
.post-center {
    /* margin-top: 2px; */
    display: flex;
    flex-direction: column;
}

.post-image {
    max-width: 100%;
    height: auto;
}

.post-actions {
    display: flex;
    align-items: center;
}
.post-actions > button {
    padding: 10px 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.post-actions > button:first-child {
    border-right: 1.5px solid var(--border);
}

.post-like > * {
    margin-right: 4px;
}
.post-comments > * {
    margin-right: 4px;
}

.liked-by-detail {
    display: flex;
    align-items: center;
    padding: 2px 10px;
    margin-top: 4px;
}

.liked-by-detail img {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    object-fit: cover;
}

.liked-by-detail p {
    font-size: 14px;
    line-height: 1.2;
    color: var(--black-text);
    margin-left: 6px;
}

.liked-by-detail p span {
    font-weight: 600;
}

.post-caption {
    margin-top: 4px;
    padding: 2px 10px;
}

.post-caption p {
    font-size: 14px;
    line-height: 1.2;
    color: var(--black-text);
}
.post-caption p span {
    font-weight: 600;
}
.post-bottom {
    display: flex;
    flex-direction: column;
    padding: 2px 10px;
    margin-top: 4px;
}
.view-comments {
    color: var(--light-grey);
    font-size: 14px;
    margin-bottom: 4px;
}
.post-comments-list {
    margin-top: 4px;
}
.post-comment-item {
    background: var(--white);
    margin-bottom: 6px;
    width: auto;
    max-width: 100%;
    display: flex;
}

.post-comment-author-profile img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.post-comment {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.post-comment-details {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--light-white);
    border-radius: 6px;
    padding: 4px 6px;
}
.post-comment-author-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--black-text);
    margin-bottom: 2px;
}

.post-comment-content {
    font-size: 14px;
    line-height: 16px;
    color: var(--black-text);
}

.post-comment-action {
    color: var(--light-grey);
    font-size: 12px;
    margin-left: 8px;
    padding: 2px 6px;
}

.post-comment-box {
    margin-bottom: 4px;
    display: flex;
}
.post-comment-box input {
    border: 1px solid var(--border);
    background-color: var(--white);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
    height: 35px;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    padding: 5px;
}
.post-comment-box input:focus {
    outline: none;
}
.add-comment-btn {
    background-color: var(--white) !important;
    border: 1px solid var(--border);
    border-left: none !important;
    color: var(--blue);
    cursor: pointer;
    padding: 2px 8px;
}

/* NAVBAR */
.nav {
    display: flex;
    background: var(--white);
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav .left-div {
    flex: 3;
}
nav .left-div a {
    text-decoration: none;
}
nav .left-div a .logo {
    color: black;
    font-size: 24px;
}

nav .user {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav span {
    margin-left: 10px;
    color: var(--black);
}
.search-container {
    position: relative;
    display: flex;
    flex: 5;
}
.search-icon {
    height: 20px !important;
    position: absolute;
    top: 10px;
    left: 7px;
}
.search-container input {
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding-left: 31px;
    box-sizing: border-box;
    flex-grow: 1;
}
.search-container input:focus {
    outline: none;
}

.search-results {
    background: #fff;
    flex-grow: 1;
    border-radius: 0 0 3px 3px;
    position: absolute;
    width: 100%;
    top: 40px;
    border: 1px solid #e0e0e0;
    z-index: 100;
    max-height: 452px;
    overflow: scroll;
}
.search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.search-results ul li a {
    text-decoration: none;
    color: black;
}
.search-results-row {
    display: flex;
    align-items: center;
    padding: 9px 14px;
}
.search-results-row:hover {
    background-color: #eceffa;
    cursor: pointer;
}
.search-results-row img {
    height: 27px;
}

nav .right-nav {
    display: flex;
    align-items: center;
    flex: 4;
    justify-content: space-around;
    color: var(--white);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.nav-icons {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-icon-item {
    position: relative;
    color: var(--black);
}
.noti-icon {
    width: 23px !important;
    height: 23px !important;
}
.msg-icon {
    width: 21px !important;
    height: 21px !important;
}
.nav-icon-badge {
    color: rgb(236, 55, 55);
    font-size: 16px;
    position: absolute;
    top: 16px;
    left: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user {
    width: 50%;
}
.user a {
    display: inline-block;
}
#user-dp {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* 
.nav-links {
    width: 10%; 
    border: 1px solid red; 
}
*/

.nav-links ul {
    display: flex;
    list-style-type: none;
    padding: 0 !important;
}
.nav-links ul li {
    padding: 0 4px;
    color: var(--black);
}
.nav-links ul li a {
    text-decoration: none;
    color: var(--black);
}
.nav-links ul li a:hover {
    text-decoration: underline;
}
.nav-links ul li:hover {
    cursor: pointer;
}

/* HOME AND FRIENDSLIST COMPONENT */
.home {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.posts-list {
    padding-top: 20px;
    width: 65%;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    overflow: scroll;
    margin-right: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.posts-list::-webkit-scrollbar {
    display: none;
}

.side-bar {
    padding-top: 20px;
    width: 30%;
    background: var(--light-white);
    height: calc(100vh - 60px);
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.side-bar::-webkit-scrollbar {
    display: none;
}
.friends-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 18px;
    height: 42%;
}

.suggestions-list-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    margin-top: 40px;
    min-height: 65vh;
}

.suggestions-list-wrapper > p {
    padding: 8px 0px;
}

.friends-list {
    /* min-width: 250px; */
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.friends-list::-webkit-scrollbar {
    display: none;
}

.no-friends {
    display: flex;
    justify-content: center;
    margin: 20vh 0;
}
.friends-item {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 6px;
}
.friends-detail {
    margin-left: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.friends-action {
    cursor: pointer;
}

.follow-suggestion {
    cursor: pointer;
}

/* LOGIN & SIGNUP COMPONENTS */
.login-form {
    background-color: var(--white);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 50px auto;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.login-header {
    font-weight: 600;
    font-size: 40px;
    color: var(--black-text);
    margin: 0px auto 24px;
}

.login-field {
    width: 100%;
}
.login-field input {
    border: 1px solid var(--border);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
}
.login-field input:focus {
    outline: none;
}
.login-field button {
    width: 100%;
    margin-top: 20px;
    background: var(--blue);
    border-radius: 4px;
    color: var(--white);
    font-size: 16px;
    padding: 8px;
    border: none;
    outline: none;
}
.login-field button:hover {
    cursor: pointer;
}
.login-field button:disabled {
    cursor: not-allowed;
}
.other-actions {
    width: 100%;
    /* margin-top: 16px; */
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.other-actions > * {
    margin-top: 20px;
}
.or-text {
    width: 100%;
    font-size: 13px;
    color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-line,
.right-line {
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: var(--light-grey);
}
.left-line {
    margin-right: 20px;
}
.right-line {
    margin-left: 20px;
}
.social-auth {
    color: var(--black-text);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    background-color: var(--light-white);
    border-radius: 14px;
}
.social-auth img {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 8px;
}
.forgot-text {
    font-size: 12px;
    color: var(--blue);
}
.signup-text {
    font-size: 14px;
    color: var(--black-text);
}

/* SETTINGS and USERPROFILE */
.user-profile {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.user-profile-upper {
    padding: 20px;
    display: flex;
}
.profile-img-container {
    margin-right: 6vw;
    margin-left: 1.6%;
}
.profile-user-details {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 14px 8px;
}
.username-row {
    display: flex;
}
.profile-username {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 14px;
}
.profile-fullname {
    margin-bottom: 6px;
}
.profile-bio {
    font-weight: 300;
}
.profile-stat-btns {
    margin-top: 10px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}
.stat-btn {
    padding: 0 !important;
    margin-right: 10%;
}
.follow-btn {
    background-color: var(--blue) !important;
    color: var(--white);
    padding: 8px 10px;
    border-radius: 4px;
}
.unfollow-btn {
    color: var(--black);
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid var(--border);
}
.msg-btn {
    background-color: transparent;
    color: var(--black);
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid var(--border);
}
.user-profile-lower {
    /* width: 80%; */
    padding: 0 20px;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-action-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-btn {
    border: 1px solid transparent;
    padding: 8px 16px;
    cursor: pointer;
    background-color: var(--light-white);
}
.tab-btn:active,
.tab-btn:focus {
    border-bottom: 1px solid var(--black);
    outline: none;
}

.profile-post-card-wrapper {
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.profile-post-card {
    background-color: var(--white);
    position: relative;
    width: 30%;
    margin: 1.6%;
}
.profile-post-card:after {
    content: '';
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.profile-post-image {
    /* box-sizing: border-box; */
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    /* object-position: center; */
}
.settings {
    width: 75%;
    margin: 0 auto;
    display: flex;
    background-color: var(--white);
    margin-top: 30px;
    outline: 1px solid var(--border);
}
.setting-btns {
    width: 23%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border);
}
.setting-btns > button {
    display: block;
    text-align: left;
    border: none;
    color: var(--black-text);
    background-color: var(--white);
    border-radius: 0px !important;
    margin: 0 !important;
    padding: 16px 16px 16px 30px !important;
    width: 100% !important;
    line-height: 22px;
    font-size: 16px;
}

.setting-btns > button:hover {
    background-color: var(--light-white);
}

.setting-btns > button:focus {
    box-shadow: inset 1px 0px var(--black);
    outline: none;
    font-weight: 500;
}

.setting-actions {
    width: 77%;
}

.settings-user-profile {
    padding: 3% 10%;
    display: flex;
    align-items: center;
}
.settings-user-profile > img {
    display: block;
    margin-left: 62px;
}
.update-profile-pic-text {
    display: flex;
    flex-direction: column;
    margin-left: 26px;
}
.update-profile-pic-text > span:first-child {
    font-size: 20px;
    margin-bottom: 2px;
}

.edit-profile,
.change-password,
.delete-account,
.help-page {
    padding: 3% 10%;
}

.togglePassword {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.field {
    position: relative;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.field:last-child > input {
    width: auto;
    background-color: var(--blue);
    color: var(--white);
    margin: 0 auto;
    cursor: pointer;
}
.field .field-label {
    width: 140px !important;
    font-size: 16px;
    color: var(--black-text);
    padding: 5px 30px 5px 0px;
    box-sizing: border-box;
    text-align: right;
}
.field textarea {
    border: 1px solid var(--border);
    border-radius: 4px;
    width: calc(100% - 130px) !important;
    height: 60px;
    padding: 0 10px !important;
    box-sizing: border-box;
    font-size: 16px;
}
textarea:focus {
    outline: none;
}
.field input {
    border: 1px solid var(--border);
    border-radius: 4px;
    margin-top: 0px;
    height: 32px;
    width: calc(100% - 130px);
    padding: 0 10px !important;
}

/* CREATEPOST */
.create-post {
    /* border: 1px solid blue; */
    background: var(--white);
    box-sizing: border-box;
    /* border: 1px solid var(--border); */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.create-post .preview-and-caption {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caption-input {
    width: 100%;
}
.caption-input > textarea {
    border: none;
    width: 100%;
    min-height: 70px;
    padding: 4px 10px;
    box-sizing: border-box;
    resize: none;
}
.post-preview-img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 4px;
}
.profile-preview {
    padding: 3% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.profile-preview-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1.5px solid black;
}
.create-post .file-input-and-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.file-input {
    display: block;
    /* width: 85%; */
    max-height: 50px;
    position: relative;
}

.file-input .file {
    /* Hide the input field */
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input .post-input-label {
    padding: 4px;
    display: inline-block;
    text-align: center;
    width: 100px;
    line-height: 40px;
    border-radius: 4px;
    background: var(--white);
    color: var(--black);
    font-size: 1rem;
    cursor: pointer;
}

.remove-profile-text {
    cursor: pointer;
}
.cancel-btn {
    margin-right: 30px;
    padding: 5px 16px;
    line-height: 40px;
    border: none;
    background-color: rgb(221, 99, 99);
    font-size: 1rem;
    color: var(--black-text);
    /* border: 1px solid var(--border); */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}
.save-btn {
    margin-right: 30px;
    padding: 5px 16px;
    line-height: 40px;
    border: none;
    color: var(--white) !important;
    background-color: var(--blue);
    font-size: 1rem;
    color: var(--black-text);
    border-radius: 4px;
    cursor: pointer;
}

#add-post-btn {
    box-sizing: border-box;
    width: 15%;
    height: 50px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: var(--blue);
    border: none;
    color: #fff;
    font-size: 16px;
}
#add-post-btn:focus {
    outline: none;
}
#add-post-btn:hover {
    cursor: pointer;
}
#add-post-btn:disabled {
    cursor: not-allowed;
}

.footer-text {
    margin-top: 10px;
    margin-bottom: 20px;
}
